body {
    background: #ffffff;

}
.profiles {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    &-list {
        flex: 1;
        transition: all .3s ease-out;
    }
    &-details {
        flex-basis: 60%;
        transition: all .3s ease-out;
        position: relative;
        display: flex;
        flex-direction: column;
        .logo {
            width: 60px;
            height: 60px;
            align-self: center;
        }
    }

}

 
.profile {
    &-wrapper {
        background: #FFFFFF;
        box-shadow: 0 0 4px 0 rgba(172, 172, 172, 0.5);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;   
        align-items: center; 
        margin: 0 auto;
        @include respond-to(md) {
            margin: 0 20px;
        }
    }
}

.btn {
    background-color: cadetblue;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
    padding: 4px 8px;
    margin: 10px auto;
    border-radius: 3px;
    cursor: pointer;
    &--display {
        border: 1px solid #000;
    }
    &-close {
        width: 30px;
        height: 30px;
        position: absolute;
        align-self: flex-end;
        padding: 4px 8px;
        cursor: pointer;
    }
    &--status_paid {
        background-color: lightslategrey;
        padding: 2px 8px;
        border: none;
        margin: 0;
    }
}

.invoices-list {
    &--item {
        border: 1px solid grey;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        margin: 10px 0;
    }
}
